= render layout: 'wrapper' do
  = simple_form_for @team do |f|
    = f.input :id, as: :hidden
    = f.input :name
    = f.input :url
    = f.input :description, hint: 'Yes, of course you can use markdown.'
    .btns
      = f.button :submit, class: 'button red'
