.works
  .clouds.top= render 'cloud'
  .clouds.bottom= render 'cloud'

  = render layout: 'wrapper' do
    .media.work.new
      .add.button.red
      .content
        = simple_form_for [@team, Work.new] do |form|
          = form.input_field :name, placeholder: 'Website name'
          = form.input_field :url, placeholder: 'Website URL'
          = form.button :submit, class: 'hard-shadow-red'

    = render partial: @team.works, locals: {show_delete: true}
