.team-edit
  = render 'form'

  .three-buttons-line
    .green.button.long-shadow-green
      %h4= 'level ' + @team.level.to_s
    .green.button.long-shadow-green
      %h4= number_with_delimiter(@team.score).to_s + ' points'
    .red.button.long-shadow-red
      %h4 recalculate

  .clouds.top= render 'cloud'

  = render 'works'

  .clouds.bottom= render 'cloud'

