.team-edit
  .wrapper
    = render 'form'

    .three-buttons-line
      .green.button.long-shadow-green
        %h4
          %span= 'level '
          %span#team-level= number_with_delimiter(@team.level)
      .green.button.long-shadow-green
        %h4
          %span#team-points= number_with_delimiter(@team.score)
          %span= ' points'
      .red.button.long-shadow-red.recalculate
        %h4= link_to 'recalculate', team_recalculate_url(@team)

  = render 'works'
