= render layout: 'wrapper' do
  - team = present(@team)
  .team_detail
    %h1= team.name
    %h2= link_to team.host, team.url
    %article.full!= markdown(team.description)
    .clearfix
    .three-buttons-line
      .green.button.long-shadow-green
        %h3= 'level ' + team.level.to_s
      .green.button.long-shadow-green
        %h3= number_with_delimiter(team.score).to_s + ' points'
      .green.button.long-shadow-green
        %h3= 3.ordinalize

.clouds.top= render 'cloud'

.works
  = render layout: 'wrapper' do
    = render partial: @team.works, locals: {show_delete: false}

.clouds.bottom= render 'cloud'
