- work = present(work)
.media.work(data-site-id="#{work.site.id}")
  != work.thumb
  .content
    %div= work.name
    %div.site-points= work.points
    %div= link_to work.url, work.url
  - if show_delete
    = button_to "delete", [@team, work], method: 'delete', confirm: "You're deleting your hard work! Are you sure?"
