- work = present(work)
.media.work(data-site-id="#{work.site.id}")
  != work.thumb
  .content
    %div= work.name
    %div= work.host
    %div= link_to "Take a look", work.url, {target: "_blank", class: "hard-shadow"}
    %div.site-points= work.formatted_points
  - if show_delete
    = button_to "X", [@team, work], method: 'delete', confirm: "You're deleting your hard work! Are you sure?", class: 'delete hard-shadow-red'
