%h2
  %a{:href => "/about/"}
    Credits
%p
  Made in
  = link_to("weLaika", "http://dev.welaika.com")
  by 
  != "#{link_to("Filippo Gangi Dino","http://github.com/mukkoo")}, "
  != "#{link_to("Alessandro Fazzi","http://github.com/pioneerskies")}, "
  != "#{link_to("Fabrizio Monti","http://github.com/delphaber")}, "
  != "#{link_to("Silvano Stralla","http://github.com/sistrall")}."
